[package]
name = "migration"
version.workspace = true
edition.workspace = true

[dependencies]
tracing.workspace = true
tracing-subscriber.workspace = true
diesel.workspace = true
diesel_migrations.workspace = true

[lints]
workspace = true
