services:
  postgres:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - rusty-network
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}'"]
      interval: 5s
      timeout: 3s
      retries: 10
  migration:
    build:
      context: .
      dockerfile: Containerfile
      target: runtime-migration
    environment:
      DATABASE_URL: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres/${POSTGRES_DB}"
    networks:
      - rusty-network
    depends_on:
      postgres:
        condition: service_healthy
  crud_server:
    build:
      context: .
      dockerfile: Containerfile
      target: runtime-crud-server
    restart: on-failure
    environment:
      DATABASE_URL: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres/${POSTGRES_DB}"
    networks:
      - rusty-network
    depends_on:
      postgres:
        condition: service_healthy
      migration:
        condition: service_completed_successfully
  game_server:
    build:
      context: .
      dockerfile: Containerfile
      target: runtime-game-server
    restart: on-failure
    environment:
      CRUD_SERVER_URL: "http://crud_server:3000"
    ports:
      - "127.0.0.1:8080:3000"
    networks:
      - rusty-network
  game_frontend:
    build:
      context: .
      dockerfile: Containerfile
      target: runtime-game-frontend
      args:
        GAME_API_URL: "http://127.0.0.1:8080"
    ports:
      - "127.0.0.1:8081:80"

networks:
  rusty-network:
    external: false
