# postgres
POSTGRES_USER="fakeuser"
POSTGRES_PASSWORD="fakepasswd123"
POSTGRES_DB="rusty-kingdom"

# rauthy
# echo "$(openssl rand -hex 4)/$(openssl rand -base64 32)"
ENC_KEYS="REDACTED/REDACTED_BASE64\nREDACTED/REDACTED_BASE64"
ENC_KEY_ACTIVE="REDACTED"
HQL_SECRET_RAFT="SuperSecureSecret1337"
HQL_SECRET_API="SuperSecureSecret1337"
# cat <<EOF | base64 | tr -d '\n'
# {
#   "name": "bootstrap",
#   "exp": 2000000000,
#   "access": [
#     {
#       "group": "Clients",
#       "access_rights": [
#         "read",
#         "create",
#         "update",
#         "delete"
#       ]
#     },
#     {
#       "group": "Roles",
#       "access_rights": [
#         "read",
#         "create",
#         "update",
#         "delete"
#       ]
#     },
#     {
#       "group": "Groups",
#       "access_rights": [
#         "read",
#         "create",
#         "update",
#         "delete"
#       ]
#     }
#   ]
# }
# EOF
BOOTSTRAP_API_KEY="REDACTED"
# tr -dc 'A-Za-z0-9' </dev/urandom | head -c 64
BOOTSTRAP_API_KEY_SECRET="REDACTED"
