name: Container CI

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string

env:
  ARCHITECTURES: amd64 arm64

jobs:
  container-build:
    strategy:
      matrix:
        container:
          - crud-server
          - game-server
          - game-frontend
          - migration
        arch:
          - amd64
          - arm64
        include:
          - arch: amd64
            runner: ubuntu-24.04
          - arch: arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to dhi.io
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: dhi.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push ${{ matrix.container }} (${{ matrix.arch }})
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          context: .
          file: Containerfile
          target: runtime-${{ matrix.container }}
          platforms: linux/${{ matrix.arch }}
          push: true
          tags: |
            ghcr.io/alisterd51/rusty-${{ matrix.container }}:${{ inputs.tag }}-${{ matrix.arch }}

  container-manifest:
    needs: container-build
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        container:
          - crud-server
          - game-server
          - game-frontend
          - migration
    permissions:
      contents: read
      packages: write
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Create and push manifest
        run: |
          IMAGES=()
          IFS=' ' read -r -a ARCH_ARRAY <<< "$ARCHITECTURES"
          for arch in "${ARCH_ARRAY[@]}"; do
            IMAGES+=("ghcr.io/alisterd51/rusty-${{ matrix.container }}:${{ inputs.tag }}-$arch")
          done
          docker buildx imagetools create -t ghcr.io/alisterd51/rusty-${{ matrix.container }}:${{ inputs.tag }} "${IMAGES[@]}"
          docker buildx imagetools create -t ghcr.io/alisterd51/rusty-${{ matrix.container }}:latest "${IMAGES[@]}"
