name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: install deps
        run: |
          sudo apt-get update && sudo apt-get install -y protobuf-compiler libprotobuf-dev musl-tools
      - name: Install musl target
        run: rustup target add x86_64-unknown-linux-musl
      - name: Build clients
        run: |
          cargo build --release --target x86_64-unknown-linux-musl -p crud-client -p game-client
      - name: Build servers
        run: |
          cargo build --release -p crud-server -p game-server -p migration
      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        with:
          files: |
            target/x86_64-unknown-linux-musl/release/crud-client
            target/x86_64-unknown-linux-musl/release/game-client
            target/release/crud-server
            target/release/game-server
            target/release/migration

  container-build:
    uses: ./.github/workflows/container-ci.yaml
    permissions:
      contents: read
      packages: write
    with:
      tag: ${{ github.ref_name }}
    secrets: inherit
