name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: install deps
        run: |
          sudo apt-get update && sudo apt-get install -y protobuf-compiler libprotobuf-dev
      - name: Build BIN
        run: |
          cargo build --release
      - name: Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2
        with:
          files: |
            target/release/crud-client
            target/release/crud-server
            target/release/game-client
            target/release/game-server
            target/release/migration
