name: Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  stable:
    uses: ./.github/workflows/rust-ci.yaml
    with:
      rust-version: stable

  beta:
    uses: ./.github/workflows/rust-ci.yaml
    with:
      rust-version: beta

  nightly:
    uses: ./.github/workflows/rust-ci.yaml
    with:
      rust-version: nightly
