name: Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: install deps
        run: |
          sudo apt-get update && sudo apt-get install -y protobuf-compiler libprotobuf-dev
      - name: Format
        run: cargo fmt --check
      - name: cargo fix
        run: |
          cargo fix
          git diff --exit-code
      - name: cargo fix edition
        run: |
          cargo fix --edition
          git diff --exit-code
      - name: cargo clippy
        run: |
          cargo clippy
      - name: cargo clippy --release
        run: |
          cargo clippy --release
      - name: Build
        run: |
          cargo build
          cargo build --release
      - name: Run tests
        run: cargo test
      - name: Run benchs
        run: cargo bench
